.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35 ;
    min-width: 330px;
    max-width: 35vw;
    /* background-color: white; */
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-width: 10vw;
    background-color: #f0f2f5;
}
.sidebar_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    /* min-width: 10vw; */
} 
.sidebar_search{
    display: flex;
    align-items: center;
    /* justify-content: space-between;       */
    color: rgb(167, 167, 167);
    height: 15px;
    /* padding: 5px; */
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.877);
    /* border-radius: 7px; */
    /* border: 2px solid blue; */
    
}
.sidebar_search_container{
    display: flex;
    align-items: center;
    /* border: solid black 2px; */
    /* margin: 4px; */
    /* justify-content: space-between; */
    /* height: 20px; */
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.396);
    

    
}
.sidebar_chat{
    flex: 1;
    /* background-color: rgb(255, 255, 255); */
    overflow-y: scroll;
    width:100%;
    position: relative;
    height: 300px;
     overflow-y: auto;

}
#search_bar{
    outline-width: 0;
    border: none;
    width: 100%;
    background-color: #ffffff;
    
}